<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.P0421_SimpleList"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.Light">
        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                  android:theme="@style/LightTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"
            />
        </activity>
        <activity android:name=".MedicineListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".MedicineActivity"
                  android:label="@string/app_name">
        </activity>
    </application>
</manifest>
